/* Style for index.js (Video Wall) */

/*
--------------------
|     .header      |
| <TITLE>  |  FORM |
--------------------
| .content-wrapper |
--------------------
|<->| .content |<->|
--------------------
|     .footer      |
--------------------
*/

/* Header, with a shadow like a card like the content */

/** font -> discord one */
body {
    font-family: 'Whitney', sans-serif;
    background-color: goldenrod;
    color: white;
}



.header {
    background-color: #333;
    color: white;
    text-align: center;
    box-shadow: 5px 5px 5px #555;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;    
    flex-direction: column;
}

/* Content Wrapper: centers content inside */
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #555;

}

/* Content: content centerted inside wrapper, with accent colour. content is a table that must display 3 items per row in a grid */
.content {
    background-color: purple;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #555;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 1760px;
    height: 100%;
    max-height: 565px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #555;    
}

/* beautify .content overflow */
.content::-webkit-scrollbar {
    width: 25px;
    background-color: #555;
    border-radius: 5px;
    /* scroll paddle black */
    box-shadow: 5px 5px 5px #555;
    color: #333;
    
}

/* scroll bar paddle*/
.content::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #777;
}

/* Footer, like header*/
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    box-shadow: 5px 5px 5px #555;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

/** td, with a shadow, like a card */
th {
    box-shadow: 5px 5px 5px #333;
    border-radius: 5px;
    background-color: plum;
    color: white;
    text-align: center; 
    margin: 10px;
    padding: 10px;
}

td {
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px #333;
    border-radius: 5px;
    color: white;
    text-align: center;
}

tr:nth-child(even) {
    background-color: blueviolet;
}

tr:nth-child(odd) {
    background-color: rebeccapurple;
}

td:nth-child(even) {
    background-color: darkviolet;
}

td {
    margin: 10px;
    padding: 10px;
}

a {
    color: #f1f1f1;
}

a:hover {
    color: #e1e1e1;
}

a:visited {
    color: #f1f1f1;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #f1f1f1;
}

.footer div, .header div {
    
    justify-content: center;
    align-items: center;
    background-color: purple;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #555;
    margin: 5px;
    padding: 5px;

}

form {
    /** inline, todo centrado vertical*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: plum;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #333;
    margin: 5px;
    padding: 5px;


}

.header h1 {
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    background-color: plum;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #333;
}

form label {
    color: white;
    padding: 5px;
    display: flex;
}

form input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #333;
    display: flex;
}

p {
    background-color: plum;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #333;
    padding: 5px;
    margin: 5px;
    color: white;

}

input[type=search] {
    background: none;
    font-weight: bold;
    border-color: #2e2e2e;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    outline: none;
    padding: 10px 20px 10px 20px;
    width: 250px;
}
/*Css to target the dropdownbox*/
ul.ui-autocomplete, input[type=search]:focus {
    color: #333 !important;
    -moz-border-radius: 15px;
    border-radius: 15px;
    max-height: 600px;
    overflow-y: scroll;
}